@import '../../consts/reset.styl';
@import '../../consts/typography.styl';
@import '../../consts/grid.styl';

body
    background: rgb(76,10,17);

.Page
    max-width: 90vw;
    margin: 10vh auto;

.Movie
    &__title
        color: #FFF;
        font-size: 38px;
        line-height: 42px;
