@import '../../consts/reset.styl';
@import '../../consts/typography.styl';
@import '../../consts/grid.styl';

.Nav
    display: block;
    position: fixed;
    z-index: 999;
    right: 68px;
    top: 100px;
    user-select: none;

    font-size: 21px;
    line-height: 26px;

    &__item
        cursor: pointer;
        padding: 8px 10px;

        & + &
            margin-left: 20px;
