@font-face
    src: url('/../../assets/fonts/Graphik-Regular-Web.woff');
    font-family: 'Graphik';
    font-style: normal;
    font-weight: normal;

@font-face
    src: url('/../../assets/fonts/Graphik-Bold-Web.woff');
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;

@font-face
    src: url('/../../assets/fonts/Graphik-RegularItalic-Web.woff');
    font-family: 'Graphik';
    font-style: italic;
    font-weight: normal;

@font-face
    src: url('/../../assets/fonts/Austin-Light-Web.woff');
    font-family: 'Austin';
    font-style: normal;
    font-weight: lighter;

@font-face
    src: url('/../../assets/fonts/Austin-Medium-Web.woff2');
    font-family: 'Austin';
    font-style: normal;
    font-weight: 500;

@font-face
    src: url('/../../assets/fonts/Austin-Roman-Web.woff2');
    font-family: 'Austin';
    font-style: normal;
    font-weight: normal;

$sans = 'Graphik', 'Helvetica Neue', Arial, sans-serif;
$serif = 'Austin', 'Times', 'Times New Roman', Georgia, serif;

body
    font-family: $sans;

h1
    font-family: $serif;
    font-size: 150px;
    font-weight: 400;
    line-height: 0.9em;
