@import '../../consts/reset.styl';
@import '../../consts/typography.styl';
@import '../../consts/grid.styl';

.PageHome
    display: block;
    margin: 0 auto;
    user-select: none;
    cursor: default;

    section
        width: $grid-full;
        margin: 0 auto;

    .Intro + .Featured
        margin-top: 50vh;


.Intro
    height: 100vh;
    min-height: 700px;
    position: relative;

    &__heading
        width: 14.5ex;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

.Featured
    &__heading
        width: 8ex;
        text-align: center;
        margin: 0 auto;
