@import '../../consts/reset.styl';
@import '../../consts/typography.styl';
@import '../../consts/grid.styl';

body
    background: rgb(76,10,17);

.Page
    max-width: 90vw;
    margin: 10vh auto;

.Loading
    color: #FFF;
    margin-top: 50vh;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    transform: translateY(-50%);

.MovieList
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    animation-name: show;
    animation-duration: 800ms;
    animation-timing-function: ease;


@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.Movie
    flex-basis: 20%;


    @media screen and (min-width: 381px) and (max-width: 799px)
        flex-basis: 33%;

    @media screen and (max-width: 381px)
        flex-basis: 50%;

    &__title
        text-align: center;
        font-size: 12px;
        margin-top: 1em;
        color: rgba(255,255,255,0.4);

    &__poster
        background-size: cover;
        background-position: center;

        &:after
            content: "";
            display: block;
            padding-bottom: 150%;
